#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

.travel_thingy_da_thingy {
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    float: none;
}

.travel_thingy_da_thingy img {
    width: 100%;
}

.travel_thingy_da_thingy h5,
.travel_thingy_da_thingy p {
    margin-left: 20px;
}

.da_movie_thingy_thingy {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.da_movie_thingy_thingy i {
    float: right;
}

.ENN_list_item {
    margin-top: 13px;
}

.ENN_list_item h4 {
    border-bottom: 1px solid white;
    padding: 8px;
    font-size: 20.000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001px;
}

.books {cursor: pointer;}

.books hr {margin-bottom: 10px;}

.modal-content {margin-top: 100px;}

.img_modal {display: inline-block;}

.p_modal {margin-top: 10px;}